#background {
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: scaleX(1.1);
}

#Level {
    position: fixed;
    z-index: 2;
    left: 800px; 
    top: 650px;
    padding: 0px;
    color: rgb(56, 56, 56);
    font-size: 3vw;
    font-family: 'GamePolice';
}

#Timer {
    position: fixed;
    z-index: 2;
    left: 125px; 
    top: 80px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: 'GamePolice';
}

#chrono {
    position: fixed;
    z-index: 2;
    left: -180px;
    scale: 1.2; 
    top: -55px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: 'GamePolice';
}

#Question {
    position: fixed;
    z-index: 2;
    width: 100vw;
    text-align: center;
    font-size: 4vh;
    margin-top: 2vh;
    color: rgb(56, 56, 56);
    font-size: 55px;
    font-family: 'GamePolice';
}

#gate1 {
    position: fixed;
    z-index: 1;
    left: 25%;
    bottom: 35%;
    transform: scale(1.5); 
    margin-right: 20px; 
}

#gate2 {
    position: fixed;
    z-index: 1;
    left: 52%;
    bottom: 35%;
    transform: scale(1.5);
    margin-right: 20px;
}

#gate3 {
    position: fixed;
    z-index: 1;
    left: 80%;
    bottom: 35%;
    transform: scale(1.5);
    margin-right: 20px;
}

.door {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 120vh;
}

#gate1, #gate2, #gate3 {
    margin-right: 20px;
}

@font-face {
    font-family: 'GamePolice';
    src: url('../img/Copyduck.ttf') format('truetype');
}