#background {
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100vw; /* Utilisation de vw (viewport width) */
    height: 100vh; /* Utilisation de vh (viewport height) */
    transform: scaleX(1.1);
}

#Level {
    position: fixed;
    z-index: 2;
    left: 5vw; /* Utilisation de vw (viewport width) */
    top: 5vh; /* Utilisation de vh (viewport height) */
    padding: 0px;
    color: rgb(238, 181, 76);
    font-size: 3vw; /* Utilisation de vw (viewport width) */
}

#Question {
    position: fixed;
    z-index: 2;
    width: 100vw;
    text-align: center;
    font-size: 4vh;
    margin-top: 2vh;
}

.door {
    cursor: pointer;
}

#gate1 {
    position: relative;
    z-index: 1;
    top: 390px;
    left: 1100px;
    scale: 2.5;
    padding: 0px;
}

#gate2 {
    position: relative;
    z-index: 1;
    top: 390px;
    left: 650px;
    scale: 2.5;
    padding: 0px;
}

#gate3 {
    position: relative;
    z-index: 1;
    top: 390px;
    left: 200px;
    scale: 2.5;
    padding: 0px;
}

@font-face {
    font-family: 'GamePolice';
    src: url('../img/Super Bloom Personal Use.ttf') format('truetype');
}