h1 {
    position: absolute;
    top: 0;
    width: 100%;
    left: 700px;
    font-size: 70px;
    font-family: sans-serif;
    color: #ffcc00;
    text-shadow: 24px 24px 24px rgba(255, 255, 255, 0.5); /* Ajoute une ombre au texte */
}

body {
    background-image: url('../img/index.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Rend l'image d'arrière-plan fixe */
    overflow: hidden; /* Supprime le défilement */
}
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    display: inline-block;
    padding: 30px 40px; /* Augmente le padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px; /* Augmente la taille du texte */
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 40px 0;
}
  
  .btn-primary {
    background-color: #9d01ff;
    color: #ffffff;
  }
  
  .btn-secondary {
    background-color: #0798ff;
    color: #fff;
  }
  
  .btn-accent {
    background-color: #8ceb7b;
    color: #fff;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  